<!DOCTYPE html>
<html>
<head>
  <title>Edit Blog Home</title>

</head>
<body>
Welcome!
<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.body%></td>
  </tr>
<% end %>



</body>
</html>
